.photo-details-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 90vw;
  overflow-y: scroll;
  border-radius: 12px;
}
.photo-details-modal__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.photo-details-modal__close-button {
  position: fixed;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  list-style-type: none;
  margin: 12px;
  padding: 0;

  .photo-list__image {
    border-radius: 8px 8px 0px 0px;
    user-select: none;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}

.photo-details-modal__image {
  max-height: 70vh;
  max-width: 100%;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  align-items: center;
  justify-content: start;
  
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  padding-top: 28px;
  margin-bottom: 24px;
  width: 90%;
  // border-top: lightgray solid 0.5px;

}

hr {
width: 100%;
margin-left: 16px;
margin-right: 16px;
}
